BasedOnStyle: LLVM
IndentWidth: 4
AccessModifierOffset: -4
BinPackArguments: false
BinPackParameters: false
BreakBeforeBraces: Custom
BraceWrapping:
    AfterClass: true
    AfterEnum: true
    AfterFunction: true
    AfterNamespace: true
    AfterStruct: true
    AfterUnion: true
ColumnLimit: 120
NamespaceIndentation: All
TabWidth: 4
